.home-image{
width: 100vw;
height: auto;
}
body{
}
.book{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.recommended{
    font-weight: 600;
    margin-left: 5rem;
}
.home-image-container{
    overflow-x: hidden;
    width: 100%;
    height: min-content;
    right: 0;
}
.h1 {
    font-size: xx-large;
}


@media(max-width:900px){
    .home-image{
        position: relative;
        width: 150vw;
        left: -20vw;
        z-index: 8;
    }
    .recommended{
        position: relative;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 16vw;
        z-index: 9;
    }
}
.h1 {
    font-size: 1.5rem;
}
@media(max-width:700px){
    .home-image{
        position: relative;
        width: 200vw;
        left: -45vw;
        z-index: 8;
    }
    .recommended{
        position: relative;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 16vw;
        z-index: 9;
    }
}
@media(max-width:600px){
    .home-image{
        display: none;
    }
    .recommended{
        position: relative;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        margin-left: 16vw;
    }
}