:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-text: #434352;
    --transition-speed: 600ms;
  }

#choice{
    justify-self: center;
    font-size: 1.5rem;
    border: none;
    padding: 1.5rem;
    background: var(--bg-primary);
    margin-top: 0rem;
    margin-bottom: -1rem;
    outline: none;
    color: var(--text-primary);
    border-right: 3px solid var(--bg-text);
}
.form{
    background-color: var(--bg-primary);
}
.choiceoption {
    border: 1px solid var(--bg-primary);
    padding: 2rem;
}
.item{
    width: 25vw;
    height: 10vw;
    display: flex;
    margin-top: 2rem;
    background: var(--bg-primary);
    max-height: fit-content;
    text-decoration: none;
    color: var(--text-primary);

}
.picture {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.sum{
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
.title{
    margin-top: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    margin-left: 1rem;
}
.infoContainer{
    max-width: 70%;
    overflow: hidden;
}
.pictureContainer {
    width: 30%;
    height: 100%;
    position: sticky;
}

.text-container{
    margin-left: 5rem;
}
.book{
    width: 100%;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(max-width:2000px){
    #choice{
        margin-bottom: 0rem;
    }
    .item{
        width: 22.5vw;
        height: 6vw;
        display: flex;
        margin-top: 2rem;
        border-radius: 0px 10px 10px 0px;
        background: var(--bg-primary);
        max-height: fit-content;
    }
    .sum{
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: none;
    }
    .title{
        text-align: center;
    }
    .pictureContainer {
        width: 20%;
        height: 100%;
    }
    .picture{
        object-fit: contain;
    }
}
@media(max-width:1500px){
}   
@media(max-width:1350px){
}
@media(max-width:1150px){
}
@media(max-width:980px){
}
@media(max-width:798px){
}
@media(max-width:730px){
}
@media(max-width:600px){
    #choice{
        justify-self: center;
        font-size: 1.5rem;
        border: none;
        padding: 1rem;
        width: 100%;
        background: var(--bg-primary);
        margin-top: 0rem;
        margin-bottom: 0.25rem;
        outline: none;
    }
    .form{
        background-color: none;
    }
    .choiceoption {
        border: 1px solid var(--text-secondary);
        padding: 1rem;
    }
    .item{
        width: 100vw;
        height: 20vw;
        display: flex;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        background: var(--bg-primary);
        max-height: fit-content;
        border-radius: 12.5px;
    }
    .picture {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .sum{
        font-size: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: none;
    }
    .title{
        margin-top: 0.5rem;
        font-size: 1.5rem;
        margin-bottom: 0.7rem;
    }
    .infoContainer{
        max-width: 70%;
        overflow: hidden;
    }
    .pictureContainer {
        width: 15%;
        height: 100%;
        display: flex;
    }
    
    .text-container{
        margin-left: 0;
    }
    .book{
        width: 100%;
    }
    .row{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }    
}