:root {
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --bg-text: #434352;
    --transition-speed: 600ms;
  }
  body{
    overflow-x: hidden;
  }
  div #booktitle{
    font-size: 3rem;
    text-align: center;
  }
  #chapter {
    margin-left: 5rem;
  }
  #chapter2 {
    transition: background 0.1s ease;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-primary);
    text-decoration: none;
    color: var(--text-primary);
  }
  #chapter2-positioner {
    position: absolute;
    width: 100%;
    height: 10vh;
    margin-bottom: 0rem;
  }
  #chapter2:hover{
    background-color: var(--bg-primary);
  }
  #chapter2-positioner:hover chapter2{
    background-color: var(--bg-primary);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    div #booktitle{
      font-size: 2rem;
      text-align: center;
    }
  
  #chapter {
    margin-left: 0rem;
    padding: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 0;
  }
  #chapter2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--bg-primary);
    text-decoration: none;
    color: var(--text-primary);
  }
  #chapter2-positioner {
    width: 100%;
    justify-content: center;
    height: 10vh;
    display: flex;
    position: relative;
    margin-bottom: 5rem;
    align-content: center;
    padding: 0;
  }
}
  
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    #chapter {
      display: flex;
      flex-direction: column;
      width: 50%;
      padding: 0;
      top: 0;
    }
    .chapter-container{
      width: 100%;
      justify-content: center;
      height: 100%;
      display: flex;
      align-content: center;
      padding: 0;
    }
  }





  