html{
    height: 100%;
    width: 100%;
}
body{
    height: 100%;
    width: 100%;
}
.one{
    background: darkorchid;
}
.two{
    background: #f96854;
}
.three{
    background: rgb(255, 73, 103);
}

.one:hover{
    background: purple;
}
.two:hover{
    background: #052d49;
}
.three:hover{
    background: linear-gradient(45deg, #405de6,#5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.socials-container{
    display: flex;
    width: 96%;
    justify-content: space-around;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 25vh;
}
.height{
    height: 70vh;
    width: 30%;
    color: #383841;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    font-size: 10rem;
}
@media(max-width: 600px){
    .socials-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90%;
        margin-left: auto;
    }
    .height{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        font-size: 5rem;
    }
    .two{
        background: #f96854;
    }
}